#background {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#background main{
  height: 100vh;
  width: 100vw;
  background: rgba(3, 3, 3, 0.446);
}
.search-box {
  width: 100%;
  margin: 0 auto;
  padding:10rem 4rem;
  text-align: center;
}
.search-box h1{
  background: -webkit-linear-gradient(174deg, #040404 0%, #6a93c1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #322f2f00;
  -webkit-box-decoration-break: clone;
  font-size: 5rem;
  font-weight: 600;
margin-bottom: 3rem;
}
.search-box input {
  padding: 1rem 1.2rem;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  margin-left: 1rem;
  outline: none;
}
.search-box input::placeholder{
  color: var(--dark-color);
  font-size: 1.5rem;
}
.button {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  border: 0;
  color: var(--light-color);
  outline: none;
  border-radius: var(--border-raduis-xs);
  transition: all 0.3s ease;
}
.button:hover {
  color: var(--light-color);
  background-color:transparent;
  box-shadow: inset 0px 0px 1px 1px var(--primary-color);
}
#profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 5rem 4rem;
  border-radius: var(--border-raduis-sm);
  width: 0;
  margin: auto;
  box-shadow: 0 0 1rem 0.1rem rgb(91, 91, 91);
  visibility: hidden;
  transition: all 2s ease;
}
.profile__avatar {
  margin-right: 2.5rem;
  position: relative;
  align-items: center;
  gap: 2rem;
}
.profile__avatar img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}
.profile__detaile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.profile__detaile h1 {
  font-size: 2.5rem;
  line-height: 5rem;
  font-weight: 500;
  color: var(--light-color);
}
.profile__detaile p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--light-color);
}
.detaile__user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 1rem;
}
.detaile__user span {
  font-weight: 500;
  font-size: 1.3rem;
}
.detaile__user p {
  margin-right: 1rem;
  
}
.following__count,
.followers__count,
.repo__count {
  font-size: 1.3rem !important;
  font-weight: 500 !important;
  color: var(--light-gray-color) !important;
}
#error-null {
  font-size: 2.5rem;
  line-height: 5rem;
  font-weight: 800;
  text-align: center;
}
#hireable {
  display: block;
  position: absolute;
  bottom: 5rem;
  right: 0.5rem;
  font-size: 2rem;
}
.link__git {
  margin-left: auto;
}
.heading{
  font-size: 3rem;
  font-weight: 500;
  color: var(--light-color);
}
